{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light p-5 ">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>{{googleBook.volumeInfo.title}}</h1>
        </div>
        <img src="{{googleBook.volumeInfo.imageLinks.thumbnail}}" alt="">
        <h3>Auteur(e) : {{googleBook.volumeInfo.authors[0]}}</h3>
        <h4>Résumé :</h4>
        <p>{{googleBook.volumeInfo.description|striptags}}</p>

        <div class="card p-5">
            <div class="form-floating mb-3">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col input-group input-group-sm mb-3">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col input-group input-group-sm mb-3">
                        {{ form_row(form.publication) }}
                    </div>
                    <div class="col input-group input-group-sm mb-3">
                        {{ form_row(form.cover) }}
                    </div>
                   {# <div class="col input-group input-group-sm mb-3">
                        {{ form_row(form.author) }}
                    </div>#}
                    <div class="col">
                        {{ form_row(form.save) }}
                    </div>

                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </main>
{% endblock body %}

    {% block javascripts %}
        <script src="{{ asset('js/formBook.js') }}" crossorigin="anonymous"></script>
    {% endblock %}